@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

body {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

nav ul {
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 20px;
}

.logo img {
    height: 50px;
    width: 50px;
    padding: 7px;
}

nav ul li {
    color: white;
    padding: 0 15px;
}

#searchBar {
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    
}

#toggleTheme {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.section {
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    background-image: url(2.jpg);
    background-size:cover;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icons {
    margin-top: 10px;
    cursor: pointer;
}

#progress {
    width: 70vw;
    cursor: pointer;
}
.songItemsContainer{
  margin-top: 45px;
  width: 65%;
}
.songItem {
  display: flex; 
  align-items: center; 
  background-color: white; 
  padding: 10px;
  color:black;
  border-radius: 25px; 
  margin-bottom: 10px; 
}

.songItem img {
  height: 40px;
  width: 75px;
  margin-right: 12px; 
  border-radius: 50%;
}

.songlistplay {
  margin-left: auto; 
  display: flex;
  align-items: center;
  gap: 10px;
  cursor:default;
}
.songlistplay i{
  cursor: pointer;
}

.volumeControl {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.volumeControl input {
    width: 100px;
    cursor: pointer;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

